@model PaginatedList<web.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregled objav</h1>

<p>
    <a asp-action="Create"><button>Ustvari novo</button></a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Išči po naslovu: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /><input type="submit" value="Išči"  /> |
            <a asp-action="Index">Nazaj</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Kategorija</a>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Kategorija</a>*@
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Naslov</a>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Naslov</a>*@
            </th>
            <th>
                Vsebina
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Datum objave</a>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Datum objave</a>*@
            </th>
            <th>
                Cas zadnje spremembe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var categoryName = item.Kategorija(item.CategoryId);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEdit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Nazaj
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Naprej
</a>